<!doctype html>
<html lang="pt-br">

<head>
  <title> Gerar Numeros </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="../img/lighting.png" class="logo-empresa" />
        <h1 class="nome-empresa">MaterialMaster</h1>
      
      <div class="header-right">
        <a href="MainMenu.html" class="botao-retornar"> RETORNAR </a>
      </div>
    </div>
  </header>
  <main>
    <div class="pagelistar">
      <form method="POST" class="formLogin">
          <h1>Numeros de Serie</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">N° de Serie</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">1</th>
                <td>Cadeira</td>
                <td>43525</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mesa</td>
                <td>65646</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Cadeira</td>
                <td>45364</td>
              </tr>
            </tbody>
          </table>
      </form>
    </div>
  </main>
  <footer class= "footer">
    <div class = "footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="js/bootstrap/bootstrap.js"></script>
</body>

</html>