<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Gerenciamento de Bens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <style>
    /* Adicione um estilo para os botões de exclusão */
    .delete-button {
      background-color: #ff6b6b;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    /* Adicione estilo para linhas clicáveis */
    .clickable-row {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="../img/lighting.png" class="logo-empresa" />
        <h1 class="nome-empresa">MaterialMaster</h1>
      
      <div class="header-right">
        <a href="MainMenu.html" class="botao-retornar"> RETORNAR </a>
      </div>
    </div>
  </header>
  <main>
    <div class="pagelistar">
      <form method="POST" class="formLogin">
        <h1>Gerenciamento de Bens</h1>
        <table class="table table-hover table-dark">
          <thead>
            <tr class="clickable-row" data-href="/views/paginas/DescartedePatrimonio.html">
                <th scope="row">1</th>
                <td>Cadeira</td>
                <td>64764</td>
                <td>Quebrada</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Cadeira</td>
                  <td>95734</td>
                  <td>Funcional</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mesa</td>
                  <td>96546</td>
                  <td>Funcional</td>
                </tr>

          </tbody>
        </table>
      </form>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="js/bootstrap/bootstrap.js"></script>
  <!-- Script para tornar as linhas clicáveis -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const rows = document.querySelectorAll(".clickable-row");
      rows.forEach(function (row) {
        row.addEventListener("click", function () {
          const href = row.getAttribute("data-href");
          if (href) {
            window.location.href = href;
          }
        });
      });
    });
  </script>
</body>

</html>