<!doctype html>
<html lang="pt-br">

<head>
  <title>Notificação de Bens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="img/lighting.png" class="logo-empresa">
        <h1 class="nome-empresa"> EMPRESA PLACEHOLDER </h1>
      </div>
      <div class="header-right">
        <a href="MainMenu.html" class="retorno-header"> RETORNAR </a>
      </div>
    </div>
  </header>


  <h4 class="titulo-relatorio"> RELATORIOS </h4>
  <table class="tabela">
    <tr>
      <th> Data </th>
      <th> Local </th>
      <th> Usuário </th>
    </th>
    <tr>
      <td> 20/12/2022 </td>
      <td> Saguão Festas </td>
      <td> Rei Salomão </td>
    </tr>
    <tr>
      <td> 43/12/2022 </td>
      <td> Sala 3C </td>
      <td> Zeca </td>
    </tr>
    <tr>
      <td>20/15/2022</td>
      <td>Sala 355321</td>
      <td> Slorp </td>
    </tr>
  </table>

  <footer class="footer">
    <div class ="footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="views/js/bootstrap/bootstrap.js"></script>
</body>

</html>