<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastro de Fornecedor/Fabricante</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1, shrink-to-fit=no"
    />
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <img src="../img/lighting.png" class="logo-empresa" />
          <h1 class="nome-empresa">MaterialMaster</h1>
        
        <div class="header-right">
          <a href="MainMenu.html" class="botao-retornar"> RETORNAR </a>
        </div>
      </div>
    </header>
    <main>
      <div class="body-re">
      <div class="page">
        <form method="POST" class="formLogin">
          <h1>Cadastro Fornecedor/Fabricante</h1>
          <p>Digite os dados de Forncedor/Fabricante no campo abaixo.</p>
          <label for="name"> Tipo </label>
          <input list="Tipo" name="Tipo" />
          <datalist id="Tipo">
            <option value="Fornecedor"></option>
            <option value="Fabricante"></option>
          </datalist>

          <label for="name"> Nome da Empresa </label>
          <input type="name" placeholder="Digite o nome" autofocus="true" />
          <label for="number"> Nº de Contato </label>
          <input
            type="number"
            placeholder="Digite o número de contato"
            autofocus="true"
          />
          <label for="name"> Endereço </label>
          <input type="name" placeholder="Digite o enredeço" autofocus="true" />
          <label for="number"> Nome do Responsavel </label>
          <input
            type="number"
            placeholder="Digite o nome do responsavel"
            autofocus="true"
          />
          <label for="email"> Descrição </label>
          <input
            type="email"
            placeholder="Digite uma descrição"
            autofocus="true"
          />
          <input type="submit" value="Cadastrar" class="btn" />
        </form>
      </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-text">
        <p>&copy; 2023 - Todos os direitos reservados</p>
        <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
        <nav>
          <p><a>Termos de uso</a></p>
          <p><a>Política de privacidade</a></p>
          <p><a>Sobre nós</a></p>
        </nav>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="js/bootstrap/bootstrap.js"></script>
  </body>
</html>
