<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastro de Usuario</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1, shrink-to-fit=no"
    />
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="preloader"></div>
    <header>
      <div class="header">
        <div class="header-left">
          <img src="/views/img/lighting.png" class="logo-empresa" />
          <h1 class="nome-empresa">MaterialMaster</h1>
        </div>
        <div class="header-right">
          <a href="/views/paginas/MainMenu.html" class="retorno-header"> RETORNAR </a>
        </div>
      </div>
    </header>
    <main>
      <div class="body-re">    
      <div class="page">
        <form method="POST" class="formLogin" id="meuFormulario">
          <h1>Cadastro</h1>
          <p>Digite os dados de acesso no campo abaixo.</p>
          <label for="name"> Nome </label>
          <input type="name" placeholder="Digite o nome" autofocus="true" />
          <label for="email"> Nº Registro </label>
          <input type="email" placeholder="Digite seu número de registro" autofocus="true" />
          <label for="email"> Email </label>
          <input type="email" placeholder="Digite seu email" autofocus="true" />
          <label for="number"> Numero </label>
          <input type="number" placeholder="Digite seu número celular" autofocus="true" />
          <label for="email"> Endereço </label>
          <input type="email" placeholder="Digite o endereço" autofocus="true" />
          <label for="password">Senha</label>
          <input type="password" placeholder="Digite sua senha" />
          <input type="submit" value="Cadastrar" class="btn" />
        </form>
        <div id="modal" class="modal">
          <div class="modal-content">
            <span class="close" id="fecharModal">&times;</span>
            <p id="mensagemModal">Ação concluída com sucesso</p>
            <button id="botaoVoltar" class="botao-menu text-nowrap">Voltar</button>
          </div>
        </div>
        </div>
        <script src="../js/script.js"></script>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-text">
        <p>&copy; 2023 - Todos os direitos reservados</p>
        <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
        <nav>
          <p><a>Termos de uso</a></p>
          <p><a>Política de privacidade</a></p>
          <p><a>Sobre nós</a></p>
        </nav>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="js/bootstrap/bootstrap.js"></script>
    <script>
      var loader = document.getElementById("preloader");
      window.addEventListener("load", function(){
            loader.style.display = "none";
      })
    </script>
  </body>
</html>
