<!doctype html>
<html lang="pt-br">

<head>
  <title> Descarte e Baixa de patrimonio </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader"></div>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="/views/img/lighting.png" class="logo-empresa">
        <h1 class="nome-empresa"> EMPRESA PLACEHOLDER </h1>
      </div>
      <div class="header-right">
        <a href="/views/paginas/GerenciamentoPatrimonio.html" class="retorno-header"> RETORNAR </a>
      </div>
    </div>
  </header>
  <main>
    <div class="page">
      <form method="POST" class="formLogin" id="meuFormulario">
        <h1>Descarte e Baixa de Patrimônio</h1>
        <p>Digite os dados do patrimônio nos campos abaixo.</p>
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite o nome" autofocus="true" />
        <label for="number">N° de Série</label>
        <input type="text" name="number" placeholder="Digite o número de série" />
        <input type="submit" value="Descartar" class="btn" id="botaoDescartar">
      </form>
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" id="fecharModal">&times;</span>
          <p id="mensagemModal">Ação concluída com sucesso</p>
          <button id="botaoVoltar" class="botao-menu text-nowrap">Voltar</button>
        </div>
      </div>
      <script src="../js/script.js"></script>
    </div>
  </main>
  <footer class= "footer">
    <div class = "footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="js/bootstrap/bootstrap.js"></script>
  <script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
          loader.style.display = "none";
    })
  </script>
</body>

</html>