<!doctype html>
<html lang="pt-br">

<head>
    <title>Gerenciamento de Usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
          <div class="header-left">
            <img src="/views/img/lighting.png" class="logo-empresa">
            <h1 class="nome-empresa"> EMPRESA PLACEHOLDER </h1>
          </div>
          <div class="header-right">
            <a href="../MainMenu.html" class="retorno-header"> RETORNAR </a>
          </div>
        </div>
      </header>

    <div class="content">
        <div class="row">
            <div class="col-3">
                <div>
                    <a href="InfoPerfil.html">
                        <button class="botao-perfil" type="button">Informações do Usuario</button>
                    </a>
                </div>
                <div>
                    <a href="GerenciamentoUsuario2.html">
                        <button class="botao-perfil" type="button">Gerenciamento de Usuario</button>
                    </a>
                </div>
            </div>
            <div class="col-5 center">
                <div id="managementSection" class="management-section">
                    <h1>Gerenciamento de Usuario</h1>
                    <form class="form-floating">
                        <div>
                            <a href="/views/paginas/email.html">
                                <button class="btn" type="mudar-email">Email</button>
                            </a>
                        </div>
                        <input type="novo-email" class="form-control" id="floatingInputValue" placeholder="Digite o novo email" value="test@example.com">
                        <input type="confirm-novo-email" class="form-control" id="floatingInputValue" placeholder="Confirmar email" value="test@example.com">
                        </div>
                        <div>
                            <a href="/views/paginas/senha.html">
                                <button class="btn" type="nova-senha">Senha</button>
                            </a>
                        </div>
                    </form>

                    <input type="password" id="inputPassword5" class="form-control"
                        aria-describedby="passwordHelpBlock" placeholder="Digite sua Nova Senha">
                    <div id="passwordHelpBlock" class="form-text">

                    </div>
                    <input class="form-control" type="text" name="nome" placeholder="Digite sua Nova Senha" />
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-text">
            <p>&copy; 2023 - Todos os direitos reservados</p>
            <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
            <nav>
                <p><a>Termos de uso</a></p>
                <p><a>Política de privacidade</a></p>
                <p><a>Sobre nós</a></p>
            </nav>
        </div>
    </footer>

    <script src="/views/js/bootstrap/bootstrap.js"></script>
</body>

</html>