<!doctype html>
<html lang="pt-br">

<head>
  <title> Menu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body class="background-page">
  <div id="preloader"></div>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="/views/img/lighting.png" class="logo-empresa">
        <h1 class="nome-empresa"> EMPRESA PLACEHOLDER </h1>
      </div>
      <div class="header-right">
      </div>
    </div>
  </header>
  <main>
    <div class="d-flex align-items-center p-4 flex-column botoes">
      <a class="botao-menu text-nowrap" href="/views/paginas/MenuPatrimonio.html"> Manusear Patrimônio </a>
      <a class="botao-menu text-nowrap" href="/views/paginas/CadastrarForneFabri.html"> Cadastrar Fornecedor/Fabricante </a>
      <a class="botao-menu text-nowrap" href="/views/paginas/MenuUsuario.html"> Manusear Usuarios </a>
      <a class="botao-menu text-nowrap" href="/views/paginas/Relatorio.html"> Relatórios </a>
      <a class="botao-menu text-nowrap" href="/views/paginas/notificacao.html"> Notificações </a>
      <a class="botao-menu text-nowrap" href="../../index.html"> Sair </a>
    </div>
  </main>
  <footer class= "footer">
    <div class = "footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="js/bootstrap/bootstrap.js"></script>
  <script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
          loader.style.display = "none";
    })
  </script>
</body>

</html>