<!doctype html>
<html lang="pt-br">

<head>
  <title> Menu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="/views/css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="/views/css/style.css" rel="stylesheet">
</head>

<body class="background-page">
  <header>
    <nav class="navbar bg-white">
      <div class="container-fluid">
        <img class="logo-empresa" src="/views/img/lighting.png">  </a>
        <h1 class="nome-empresa ">Empresa Placeholder</h1>
      </div>
    </nav>
  </header>
  <main>
    <div class="d-flex align-items-center p-4 flex-column">
      <button class="botao-menu text-nowrap"> Manusear Patrimônio </button>
      <button class="botao-menu text-nowrap"> Cadastrar Fornecedor/Fabricante </button>
      <button class="botao-menu text-nowrap"> Manusear Usuarios </button>
      <button class="botao-menu text-nowrap"> Relatórios </button>
      <button class="botao-menu text-nowrap"> Notificações </button>
      <button class="botao-menu text-nowrap"> Sair </button>
    </div>
  </main>
  <footer class= "footer">
    <div class = "footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="views/js/bootstrap/bootstrap.js"></script>
</body>

</html>