<!doctype html>
<html lang="pt-br">

<head>
  <title>Notificação de Bens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader"></div>
  <header>
    <div class="header">
      <div class="header-left">
        <img src="/views/img/lighting.png" class="logo-empresa">
        <h1 class="nome-empresa"> EMPRESA PLACEHOLDER </h1>
      </div>
      <div class="header-right">
        <a href="/views/paginas/MainMenu.html" class="retorno-header"> RETORNAR </a>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container text-center">
      <div class="row">
        <table class="table table-hover">
          <div class="col-md-10">
            <thead>
                <th scope="col">#Notificação</th>
                <th scope="col">Relatorio</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">1</th>
                <td>Entre Relatório 21/12/23 e 28/12/23 - Patrimonios 122, 1234, 12345 sumiram da area A</td>
                <td>20/09/2023</td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">#</th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="/views/js/bootstrap/bootstrap.js"></script>
  <script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
          loader.style.display = "none";
    })
  </script>
</body>

</html>