img {
  width: 100%;
  height: auto;
}
html {
  height: 100%;
}

body {
  background-color: rgba(18, 18, 18, 0.724);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  flex: 1;
}
.body-re {
  font-family: Arial, sans-serif;
  background-image: url('../img/fundo-pagina.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top:  20vh; /* Adicione esta linha para definir a altura mínima do body */
  margin: 0; /* Define a margem como zero para evitar espaços extras */
    padding-bottom: 20vh;
}

.page {
  display: flex;
  justify-content: center;
}
.pagelistar {
  display: flex;
  justify-content: center;
  align-items: center; /* Isso centralizará verticalmente a tabela */
  height: 100vh; /* Isso garante que a tabela ocupe toda a altura da viewport */
}
.logo-empresa {
  height: 50px;
  width: 50px;
  margin-left: 80px;
}

.nome-empresa {
  flex: 1;
  margin-left: 100px;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 80px;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
}
.footer-text {
  flex: 1;
  text-align: center;
}

.formLogin {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(18, 18, 18, 0.724);
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
}

.areaLogin img {
  width: 420px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
  width: 600px;
}

.formLogin input:focus {
  border: 1px solid #267bf1;
}

.formLogin label {
  font-size: 14px;
  width: 200px;
  font-weight: 600;
  display: inline-block;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #ffe4bc;
}

.btn {
  background-color: #efa135;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 10px;
  width: 25%;
  align-self: center;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #e6d1a8;
}

table {
  border-collapse: collapse !important;
  width: 100% !important;
  border: 2px solid !important;
  margin: 0 auto !important;
}

th,
td {
  text-align: left !important;
  padding: 8px !important;
  height: 20px !important;
  width: 200px !important;
}

th {
  background-color: #efa135 !important;
  color: white !important;
}

.header {
  display: flex;
  overflow: auto;
  background-color: #f1f1f1;
  padding: 20px 10px;
  flex-direction: row;
  min-width: 0;
  padding-right: 50px;
}

.header-left {
  display: flex;
  flex: 1;
  min-width: 0;
}

.header-right {
  float: right;
}

.retorno-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-decoration: none;
  margin-right: 100px;
}

.botao-menu {
  font: bold 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  background-color: #efa135;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid rgb(164, 164, 164);
  border-right: 1px solid rgb(140, 140, 140);
  border-bottom: 1px solid rgb(140, 140, 140);
  border-left: 1px solid rgb(164, 164, 164);
  width: 250px;
  height: 50px;
  margin: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-menu:active {
  border-bottom-color: rgb(164, 164, 164);
  border-right-color: rgb(164, 164, 164);
  border-top-color: rgb(140, 140, 140);
  border-left-color: rgba(140, 140, 140);
}
.botao-menu:hover {
  background-color: #ffba2f;
}

.background-page {
  background-image: url('../img/fundo-pagina.gif');
  justify-content: center;
  background-position: center; /* Centraliza a imagem na tela */
  height: 13vh;
  background-size: cover; /* Isso ajusta a imagem ao tamanho da janela de visualização */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  background-attachment: fixed; /* Fixa a imagem de fundo enquanto você rola a página */
    align-items: center;
    background-color: rgb(173, 173, 173);
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tabela {
  font-family: Arial, Helvetica, sans-serif !important;
  border-collapse: collapse !important;
  width: 100% !important;
  align-items: center !important;
  align-self: center !important;
  justify-content: center !important;
  width: 1000px !important;
  margin: auto !important;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
  border: 1px solid black !important;
}

.tabela td,
th {
  border: 1px solid #ddd ;
  padding: 8px !important;
  background-color: #ddd ;
}

.tabela tr:hover {
  background-color: #ddd !important;
}

.tabela th {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  text-align: left !important;
  background-color: #efa135 !important;
  color: white !important;
  border: 1px solid rgb(106, 106, 106) !important;
}

.titulo-relatorio {
  text-align: center;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo-perfil {
  width: 4%;
  margin-left: 92%;
  align-items: center;
}

.logo-usuario {
  width: 99px;
}

.content {
  height: 450px; /* Defina a altura que deseja para o espaço rolável */
}

.center {
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  height: auto;
  width: auto;
}

.botao-perfil {
  height: 60px;
  width: 240px;
  border-radius: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 10px;
  background-color: #c3c3c3;
  color: #fff;
  align-items: center;
}
.botao-retornar{
  background-color:  hsl(35, 85%, 57%) !important;
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  
}

#preloader{
  background: #000 url(../img/loader.gif) no-repeat center center;
  background-size: 6%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%; /* Centraliza horizontalmente */
  top: 50%; /* Centraliza verticalmente */
  transform: translate(-50%, -50%);
  width: 300px; /* Largura desejada */
  max-width: 80%; /* Largura máxima */
  max-height: 80vh; /* Altura máxima */
  background-color: transparent; /* Alterado para uma cor de fundo transparente */
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

