<!doctype html>
<html lang="pt-br">

<head>
  <title> Cadastro de Patrimonio </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar bg-dark-subtle">
      <div class="container-fluid">
        <img class="logo-empresa" src="img/lighting.png">  </a>
        <h1 class="nome-empresa ">Empresa Placeholder</h1>
      </div>
    </nav>
  </header>
  <main>
    <div class="page">
      <form method="POST" class="formLogin">
          <h1>Cadastro Patrimonio</h1>
          <p>Digite os dados de patrimonio no campo abaixo.</p>
          <label for="name"> Nome </label>
          <input type="name" placeholder="Digite o nome" autofocus="true" />
          <label for="number"> Nº de Serie </label>
          <input type="number" placeholder="Digite seu número de serie" autofocus="true" />
          <label for="email"> Categoria </label>
          <input type="email" placeholder="Digite a categoria" autofocus="true" />
          <label for="date"> Data </label>
          <input type="date" placeholder="Digite a data de aquisição" autofocus="true" />
          <label for="number"> Valor </label>
          <input type="number" placeholder="Digite o preço" autofocus="true" />
          <label for="email"> Descrição </label>
          <input type="email" placeholder="Digite uma descrição" autofocus="true" />
          <input type="submit" value="Acessar" class="btn" />
      </form>
    </div>
  </main>
  <footer class= "footer">
    <div class = "footer-text">
      <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <nav>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
      </nav>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="js/bootstrap/bootstrap.js"></script>
</body>

</html>